*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

i:hover{
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */

header{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 3;
    font-size: 0.8rem;
    box-shadow: 1px 1px 30px rgb(25, 25, 25);
}

header div{
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 4px;
    margin: 7px;
    border-radius: 5px;
    cursor: pointer;
}

header div span{
    font-weight: 600;
}

.enlarge i{
    padding: 0px 3px 0px;
}

/* Bottone switch galleria utenti*/

.gallery-button{
    z-index: 2;
    position: absolute;
    bottom: 50vh;
    right: 0;
    padding-right: 20px;
    transition: 0.4s;
}

.gallery-button:hover{
    bottom: 49.8vh;
    right: 0;
    padding-right: 19px;
    transition: 0.4s;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 67, 67);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(76, 76, 76);
    cursor: pointer;
    transition: 0.5s;
}

.gallery-button:active .circle{
    background-color: rgb(37, 37, 37);
    transition: 0.5s;
    border: 1px solid rgb(37, 37, 37);
}

.circle div{
    color: rgb(255, 255, 255);
}

.circle div i{
    text-shadow: 0 0 3px #000000;
    font-size: 2rem;
}

/* Contenitore webcam users*/

/*
main{
    padding: 70px 50px 0px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    flex-grow: 1;
    gap: .25rem;
    background-color: rgb(12, 12, 12);
}
*/

main{
    display: flex;
    overflow: auto;
    flex-grow: 1;
    background-color: rgb(12, 12, 12);
    padding: 50px 50px 50px 50px;
}


.users-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: auto;
}

.user{
    width: 250px;
    height: 150px;
    position: relative;
    display: inline-block;
}

.user div{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(90, 90, 90, 0.8);
    font-size: 0.75rem;
    padding: 0.5rem;
}

.user span{
    vertical-align: center;
    font-weight: 600;
}

/* Footer */

footer{
    background-color: rgb(34, 34, 34);
    height: 100px;
    color: white;
    box-shadow: 1px 1px 30px rgb(25, 25, 25);
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

footer i{
    font-size: 2rem;
    text-align: center;
}

footer span{
    text-align: center;
    display: block;
}

.fa-angle-up{
    font-size: 1rem;
}

.media-inputs{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
}

.video{
    width: 100px;
}

.microphone{
    width: 50px;
}

.media-inputs i, .interactables i{
    align-self: center;
    display: block;
    padding: 10px;
}

.interactables{
    display: flex;
    justify-content: space-around;
}

.interactables div{
    margin: 0 20px;
}

.interactables div i{
    padding: 10px;
}

#green-share{
    color: green;
}

.exit{
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(74, 74, 74);
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 0);
    font-weight: 700;
}

.exit span:hover{
    cursor: pointer;
    color: rgb(255, 33, 33);
}